<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Satelite Peru Mibus</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>satelite_peru_mibus</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Esta aplicación necesita acceso a tu ubicación en todo momento para proporcionar servicios basados en la ubicación, incluso cuando la aplicación está en segundo plano.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Esta aplicación necesita acceso a tu ubicación en todo momento para proporcionar servicios basados en la ubicación, incluso cuando la aplicación está en segundo plano.</string>
	<key>NSLocationUsageDescription</key>
	<string>Older devices need location.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Need location when in use</string>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>NSDocumentsFolderUsageDescription</key>
	<string>Necesitamos acceder a sus documentos para guardar el reporte.</string>
	<key>NSDownloadsFolderUsageDescription</key>
	<string>Necesitamos acceder a sus descargas para guardar el reporte.</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>location</string>
		<string>processing</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIStatusBarHidden</key>
	<false/>
	<key>LSApplicationQueriesSchemes</key>
	<array>
	<string>sms</string>
	<string>tel</string>
	</array>
	<key>NSCameraUsageDescription</key>
	<string>Necesitamos acceso a la cámara para permitir la toma de fotos.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Necesitamos acceso a la galería para seleccionar imágenes.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Necesitamos acceso al micrófono para grabar videos.</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
